<!DOCTYPE html>
@using BusinessApp.CarpetWash.Entities.Concrete.Enums
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pak Halı Yıkama &dash; @ViewData["Title"]</title>
    @*<title>@ViewBag.Title</title>*@

    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800,400italic%7cMontserrat:400,700" rel="stylesheet" type="text/css">
    <!-- Icons -->
    <link href="~/css/typicons.min.css" rel="stylesheet">
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <!-- iCheck - Custom radio/check input -->
    <link href="~/css/icheck/minimal.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <!-- All plugins -->
    <link href="~/css/plugins.min.css" rel="stylesheet">
    <!-- Template -->
    <link href="~/css/main.min.css" rel="stylesheet">
    <!-- Tag Inputs -->
    <link href="~/css/tag-inputs/tagsinput.css" rel="stylesheet" />

    <!-- Bootsrap Data Table integration input -->
    <link href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css" rel="stylesheet">

    <!--[if lt IE 9]>
              <script src="js/plugins/shiv.min.js"></script>
              <script src="js/plugins/respond.min.js"></script>
              <script src="js/plugins/excanvas.min.js"></script>
            <![endif]-->

</head>
<body>
    <!-- Page container -->
    <div class="page-container">

        <!-- Sidebar -->
        <aside id="sidebar">

            <!-- Sidebar header -->
            <header class="sidebar-header">
                <h1><img src="img/logo.png" alt="Saltkin"></h1>
                <a href="#" id="make-compact"><span class="typcn typcn-th-menu"></span></a>
                <a href="#" id="hide-menu"><span class="fa fa-caret-square-o-left"></span></a>
            </header>
            <!-- /Sidebar header -->

            <!-- Sidebar group -->
            <ul class="sidebar-group">
                <li class="sidebar-group-header">NAVIGATION</li>
                <li>
                    <a href="#"><i class="typcn typcn-home"></i> <span>Dashboard</span></a>
                    <div class="sidebar-link-addon"><span class="badge bg-green">NEW</span></div>
                </li>
                <li class="has-submenu">
                    <a href="#"><i class="typcn typcn-tabs-outline"></i> <span>Posts</span></a>
                    <div class="sidebar-link-addon"><i class="typcn typcn-plus"></i></div>
                    <!-- Sidebar submenu -->
                    <ul class="sidebar-submenu">
                        <li><a asp-controller="Contents" asp-action="Index" asp-route-type="@ContentType.Post" asp-route-IsFrontSideIndex="@false">All Posts</a></li>
                        <li><a asp-controller="Contents" asp-action="Create" asp-route-type="@ContentType.Post">Add New</a></li>
                    </ul>
                    <!-- /Sidebar submenu -->
                </li>
                <li class="has-submenu">
                    <a href="#"><i class="typcn typcn-tabs-outline"></i> <span>Services</span></a>
                    <div class="sidebar-link-addon"><i class="typcn typcn-plus"></i></div>
                    <!-- Sidebar submenu -->
                    <ul class="sidebar-submenu">
                        <li><a asp-controller="Contents" asp-action="Index" asp-route-type="@ContentType.Service" asp-route-IsFrontSideIndex="@false">All Services</a></li>
                        <li><a asp-controller="Contents" asp-action="Create" asp-route-type="@ContentType.Service">Add New</a></li>
                    </ul>
                    <!-- /Sidebar submenu -->
                </li>

                <li class="has-submenu">
                    <a href="#"><i class="typcn typcn-tabs-outline"></i> <span>Service Regions</span></a>
                    <div class="sidebar-link-addon"><i class="typcn typcn-plus"></i></div>
                    <!-- Sidebar submenu -->
                    <ul class="sidebar-submenu">
                        <li><a asp-controller="Contents" asp-action="Index" asp-route-type="@ContentType.ServiceRegion" asp-route-IsFrontSideIndex="@false">All Regions</a></li>
                        <li><a asp-controller="Contents" asp-action="Create" asp-route-type="@ContentType.ServiceRegion">Add New</a></li>
                    </ul>
                    <!-- /Sidebar submenu -->
                </li>

                <li class="has-submenu">
                    <a href="#"><i class="typcn typcn-compass"></i> <span>Categories</span></a>
                    <div class="sidebar-link-addon"><i class="typcn typcn-plus"></i></div>
                    <!-- Sidebar submenu -->
                    <ul class="sidebar-submenu">
                        <li><a asp-controller="Category" asp-action="Index">All Categories</a></li>
                        <li><a asp-controller="Category" asp-action="Create">Add New</a></li>
                    </ul>
                    <!-- /Sidebar submenu -->
                </li>
                <li class="has-submenu">
                    <a href="#"><i class="typcn typcn-clipboard"></i> <span>Tags</span></a>
                    <div class="sidebar-link-addon"><i class="typcn typcn-plus"></i></div>
                    <!-- Sidebar submenu -->
                    <ul class="sidebar-submenu">
                        <li><a asp-controller="Tags" asp-action="Index">All Tags</a></li>
                        <li><a asp-controller="Tags" asp-action="Create">Add New</a></li>
                    </ul>
                    <!-- /Sidebar submenu -->
                </li>
                <li class="has-submenu">
                    <a href="#"><i class="typcn typcn-document-text"></i> <span>Banners</span></a>
                    <div class="sidebar-link-addon"><i class="typcn typcn-plus"></i></div>
                    <!-- Sidebar submenu -->
                    <ul class="sidebar-submenu">
                        <li><a asp-controller="Banners" asp-action="Index">All Banners</a></li>
                        <li><a asp-controller="Banners" asp-action="Create">Add New</a></li>
                    </ul>
                    <!-- /Sidebar submenu -->
                </li>
                <li class="has-submenu">
                    <a href="#"><i class="typcn typcn-document-text"></i> <span>Features</span></a>
                    <div class="sidebar-link-addon"><i class="typcn typcn-plus"></i></div>
                    <!-- Sidebar submenu -->
                    <ul class="sidebar-submenu">
                        <li><a asp-controller="Feature" asp-action="Index">All Features</a></li>
                        <li><a asp-controller="Feature" asp-action="Create" asp-route-type="@ContentType.HomeFeature">Add Home Feature</a></li>
                        <li><a asp-controller="Feature" asp-action="Create" asp-route-type="@ContentType.AboutFeature">Add About Feature</a></li>
                        <li><a asp-controller="Feature" asp-action="Create" asp-route-type="@ContentType.ContactFeature">Add Contact Feature</a></li>
                        <li><a asp-controller="Feature" asp-action="Create" asp-route-type="@ContentType.HomeFeatureExcerpt">Add Home Excerpt</a></li>
                    </ul>
                    <!-- /Sidebar submenu -->
                </li>
                <li>
                    <a href="email.html"><i class="typcn typcn-mail"></i> <span>Emails</span></a>
                    <div class="sidebar-link-addon"><span class="badge">12</span></div>
                </li>
                <li><a asp-controller="Home" asp-action="Index"><i class="typcn typcn-arrow-forward"></i> <span>Go to Home Page</span></a></li>
            </ul>
            <!-- /Sidebar group -->

            <!-- Sidebar group -->
            <ul class="sidebar-group">
                <li class="sidebar-group-header">MOST VIEWED POSTS</li>
                <li><a href="#"><i class="typcn typcn-starburst text-red"></i> <span>Web design</span></a></li>
                <li><a href="#"><i class="typcn typcn-starburst text-blue"></i> <span>Technology</span></a></li>
                <li><a href="#"><i class="typcn typcn-starburst text-green"></i> <span>Gadgets</span></a></li>
            </ul>
            <!-- /Sidebar group -->

        </aside>
        <!-- /Sidebar -->
        <!-- Content -->
        <div id="content">
            <!-- Header -->
            <nav class="header-site">
                <div class="container-fluid">

                    <!-- Page title and breadcrumb navigation -->
                    <div class="page-title">
                        <h4><a href="#" id="toggle-menu"><i class="typcn typcn-th-menu"></i></a> <span>WELCOME!!</span></h4>
                        <nav>
                            <a href="#">DASHBOARD</a>
                            <span class="typcn typcn-chevron-right"></span>
                            <a href="#">@ViewData["Title"]</a>
                        </nav>
                    </div>
                    <!-- /Page title and breadcrumb navigation -->

                    <!-- Header navigation / icons -->
                    <ul class="header-nav navbar-right">

                        <!-- Messages -->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="typcn typcn-messages"></span></a>
                            <span class="badge">3</span>
                            <div class="dropdown-menu panel panel-messages dropdown-arrow pull-right">
                                <div class="panel-heading">MESSAGES <span class="badge pull-right bg-orange">NEW</span></div>
                                <div class="panel-body scrollbox">
                                    <ul class="chat">
                                        <li class="left clearfix">
                                            <a href="#">
                                                <span class="chat-img pull-left">
                                                    <img src="placeholders/user1.jpg" alt="User Avatar" class="img-circle">
                                                </span>
                                                <div class="chat-body clearfix">
                                                    <div class="header">
                                                        <strong class="primary-font">Jon Bateman</strong>
                                                        <small class="pull-right text-muted">
                                                            <span class="glyphicon glyphicon-time"></span>12 mins ago
                                                        </small>
                                                    </div>
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibend...
                                                    </p>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="left clearfix">
                                            <a href="#">
                                                <span class="chat-img pull-left">
                                                    <img src="placeholders/user2.jpg" alt="User Avatar" class="img-circle">
                                                </span>
                                                <div class="chat-body clearfix">
                                                    <div class="header">
                                                        <strong class="primary-font">Sam Smalls</strong>
                                                        <small class="pull-right text-muted">
                                                            <span class="glyphicon glyphicon-time"></span>12 mins ago
                                                        </small>
                                                    </div>
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibend...
                                                    </p>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="left clearfix">
                                            <a href="#">
                                                <span class="chat-img pull-left">
                                                    <img src="placeholders/user1.jpg" alt="User Avatar" class="img-circle">
                                                </span>
                                                <div class="chat-body clearfix">
                                                    <div class="header">
                                                        <strong class="primary-font">The Flash</strong>
                                                        <small class="pull-right text-muted">
                                                            <span class="glyphicon glyphicon-time"></span>12 mins ago
                                                        </small>
                                                    </div>
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibend...
                                                    </p>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="left clearfix">
                                            <a href="#">
                                                <span class="chat-img pull-left">
                                                    <img src="placeholders/user2.jpg" alt="User Avatar" class="img-circle">
                                                </span>
                                                <div class="chat-body clearfix">
                                                    <div class="header">
                                                        <strong class="primary-font">Bruce Nolan</strong>
                                                        <small class="pull-right text-muted">
                                                            <span class="glyphicon glyphicon-time"></span>12 mins ago
                                                        </small>
                                                    </div>
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibend...
                                                    </p>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <footer class="panel-footer text-center">
                                    <a href="#">View all messages</a>
                                </footer>
                            </div>
                        </li>
                        <!-- /Messages -->

                        <!-- Notifications -->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="typcn typcn-bell"></span></a>
                            <div class="dropdown-menu panel panel-notifications dropdown-arrow pull-right">
                                <div class="panel-heading">NOTIFICATIONS</div>
                                <div class="panel-body scrollbox">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <div class="clearfix">
                                                    <span class="pull-left">
                                                        <i class="typcn typcn-heart bg-red"></i>
                                                        New likes
                                                    </span>
                                                    <span class="badge badge-gray pull-right">22</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="clearfix">
                                                    <span class="pull-left">
                                                        <i class="typcn typcn-user bg-blue"></i>
                                                        New users
                                                    </span>
                                                    <span class="badge badge-gray pull-right">6</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="clearfix">
                                                    <span class="pull-left">
                                                        <i class="typcn typcn-image bg-green"></i>
                                                        New pictures
                                                    </span>
                                                    <span class="badge badge-gray pull-right">125</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="clearfix">
                                                    <span class="pull-left">
                                                        <i class="typcn typcn-heart bg-orange"></i>
                                                        New likes
                                                    </span>
                                                    <span class="badge badge-gray pull-right">22</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="clearfix">
                                                    <span class="pull-left">
                                                        <i class="typcn typcn-user bg-purple"></i>
                                                        New users
                                                    </span>
                                                    <span class="badge badge-gray pull-right">6</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="clearfix">
                                                    <span class="pull-left">
                                                        <i class="typcn typcn-image bg-yellow"></i>
                                                        New pictures
                                                    </span>
                                                    <span class="badge badge-gray pull-right">125</span>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <!-- /Notifications -->

                        <!-- Profile -->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="placeholders/avatar.jpg" alt="User avatar"></a>
                            <ul class="dropdown-menu dropdown-arrow pull-right">
                                <li><a href="#"><span class="typcn typcn-edit"></span> Edit profile</a></li>
                                <li><a href="#"><span class="typcn typcn-cog"></span> Settings</a></li>
                                <li><a href="#"><span class="typcn typcn-contacts"></span> Contacts</a></li>
                                <li class="divider"></li>
                                <li><a href="#"><span class="typcn typcn-power"></span> Sign out</a></li>
                            </ul>
                        </li>
                        <!-- /Profile -->

                    </ul>
                    <!-- /Header navigation / icons -->

                </div>
            </nav>
            <!-- /Header -->

            <!-- Content start -->
            <div class="container-fluid">

                <!-- Statistics panels -->
                <div class="row">
                    <div class="col-md-3">
                        <div class="panel panel-stat">
                            <div class="panel-body">
                                <div class="clearfix">
                                    <div class="stat-icon bg-dark pull-left"><i class="typcn typcn-user"></i></div>
                                    <div class="stat-info pull-left"><h4><small>Services</small><br>46342</h4></div>
                                    <span class="typcn typcn-arrow-up pull-right text-green"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="panel panel-stat panel-alt bg-purple">
                            <div class="panel-body">
                                <div class="clearfix">
                                    <div class="stat-icon bg-shade pull-left"><i class="typcn typcn-gift"></i></div>
                                    <div class="stat-info pull-left"><h4><small>Service Regions</small><br>1000</h4></div>
                                    <span class="typcn typcn-plus pull-right"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="panel panel-stat">
                            <div class="panel-body">
                                <div class="clearfix">
                                    <div class="stat-icon bg-red pull-left"><i class="typcn typcn-clipboard"></i></div>
                                    <div class="stat-info pull-left"><h4><small>Blog Posts</small><br>43</h4></div>
                                    <span class="typcn typcn-arrow-down pull-right text-red"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="panel panel-stat">
                            <div class="panel-body">
                                <div class="clearfix">
                                    <div class="stat-icon bg-green pull-left"><i class="typcn typcn-chart-bar"></i></div>
                                    <div class="stat-info pull-left"><h4><small>Comments</small><br>$10.500</h4></div>
                                    <span class="typcn typcn-arrow-up pull-right text-green"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Statistics panels -->

                <div class="row">
                    @RenderBody()
                </div>
            </div>
        </div>
        <!-- /Content -->
    </div>

    <!-- PLUGINS -->
    <script src="~/js/plugins/jquery.min.js"></script>
    <script src="~/js/plugins/modernizr.min.js"></script>
    <!-- Bootstrap core -->
    <script src="~/js/plugins/bootstrap.min.js"></script>
    <!-- Custom scrollbar -->
    <script src="~/js/plugins/enscroll.min.js"></script>
    <!-- Knob / Donut charts -->
    <script src="~/js/plugins/knob.min.js"></script>
    <!-- Dynamic tables -->
    <script src="~/js/plugins/footable.min.js"></script>
    <!-- WYSIWYG -->
    <script src="~/js/plugins/summernote.min.js"></script>
    <!-- Responsive multimenu -->
    <script src="~/js/plugins/multimenu.min.js"></script>
    <!-- Custom checkboxes and radio input -->
    <script src="~/js/plugins/icheck.min.js"></script>
    <!-- Rickshaw graphs & charts -->
    <script src="~/js/plugins/sparkline.min.js"></script>
    <script src="~/js/plugins/rickshaw/d3.v3.js"></script>
    <script src="~/js/plugins/rickshaw/rickshaw.min.js"></script>
    <!-- Flot -->
    <script src="~/js/plugins/flot.min.js"></script>
    <!-- Calendar -->
    <script src="~/js/plugins/calendar/underscore.min.js"></script>
    <script src="~/js/plugins/calendar/calendar.min.js"></script>
    <!-- Masked input -->
    <script src="~/js/plugins/maskedinput.min.js"></script>
    <!-- Date and time picker -->
    <script src="~/js/plugins/datepicker/moment.min.js"></script>
    <script src="~/js/plugins/datepicker/datetimepicker.min.js"></script>
    <!-- Page specific -->
    <script src="~/js/page-form-elements.js"></script>
    <!-- Site -->
    <script src="~/js/main.js"></script>

    <!-- Tag inputs -->
    <script src="~/js/tag-inputs/tagsinput.js"></script>

    <!-- ckeditor -->
    <script src="~/ckeditor/ckeditor.js"></script>

    <script>
        CKEDITOR.replace('TextArea');
    </script>

    <!-- Bootsrap Data Table integration input -->
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#index-table').DataTable();
        });
    </script>

</body>
</html>
