@model IEnumerable<BusinessApp.CarpetWash.Entities.Concrete.Content>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!-- Bootsrap tag input -->
<link href="https://cdn.jsdelivr.net/bootstrap.tagsinput/0.8.0/bootstrap-tagsinput.css" rel="stylesheet">
<!-- Responsive table -->
<div class="col-md-12">
    <div class="panel panel-default">
        @{
            var getType = Model.Select(x => x.Type).FirstOrDefault();

            if (getType != 0)
            {
                <header class="panel-heading"><a asp-action="Create" asp-route-type="@getType">Create New</a></header>
            }
        }
        <div class="panel-body">
            <table class="table table-striped footable">
                <thead>
                    <tr>
                        <th data-hide="phone,tablet">Image</th>
                        <th data-toggle="true">Title</th>
                        <th data-toggle="true">UserName</th>
                        <th data-hide="phone,tablet">Visit Count</th>
                        <th data-hide="phone,tablet">Created By</th>
                        <th data-hide="phone,tablet">Updated At</th>
                        <th data-hide="phone,tablet">Status</th>
                        <th data-hide="phone">Action</th>
                        <th data-hide="phone,tablet">Test</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <img src="~/images/content/@item.Image" class="img-fluid img-thumbnail" alt="Sheep" height="150" width="150" asp-append-version="true">
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.User.UserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.VisitCount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedAt)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UpdatedAt)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsActive)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id" asp-route-IsFrontSideDetails="False">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.Id" asp-route-IsFrontSideDetails="True">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                            <td data-value="3"><span class="label label-warning">Suspended</span></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- /Responsive table -->

<style>
    table table-striped footable, th, td {
        vertical-align: middle !important;
    }
</style>

<script>
    $(document).ready(function () {
        $(".btnHide").hide();
        $('#example').DataTable();

        //alert("Test");
        $("#checkAll").click(function () {
            //alert("içerde");
            $(".check").prop('checked', $(this).prop('checked'));

            if ($(".check").prop('checked')) {
                $(".btnHide").show();
            }
            else {
                $(".btnHide").hide();
            }
        });

        $("#delete").click(function () {
            var selectedIDs = new Array();
            $('.check').each(function () {
                if ($(this).prop('checked')) {
                    selectedIDs.push($(this).val());
                }
            });

            var options = {};
            options.url = "/Tags/DeleteAllTags";
            options.type = "POST";
            options.data = JSON.stringify(selectedIDs);
            alert(options.data);
            options.contentType = "application/json";
            options.dataType = "json";
            options.success = function (msg) {
                alert(msg);
            };
            options.error = function () {
                alert("Error while deleting the records!");
            };
            $.ajax(options);

        });
    });
</script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/bootstrap.tagsinput/0.8.0/bootstrap-tagsinput.min.js"></script>
