@model BusinessApp.CarpetWash.Entities.Concrete.Content
@using Microsoft.AspNetCore.Identity
@using BusinessApp.CarpetWash.Entities.Concrete

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Details";
}

<script type=\"application/ld+json"\>
    @Html.Raw(@ViewBag.JasonLd);
</script>

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Blog</h2>
                <ol>
                    <li><a asp-controller="Home" asp-action="Index">Anasayfa</a></li>
                    <li>Blog</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
        <div class="container">

            <div class="row">

                <div class="col-lg-8 entries">

                    <article class="entry entry-single" data-aos="fade-up">

                        <div class="entry-img">
                            <img src="~/images/content/@Model.Image" alt="" class="img-fluid">
                        </div>

                        <h1 class="entry-title"> <a href="#">@Model.Title</a> </h1>

                        <div class="entry-meta">
                            <ul>
                                <li class="d-flex align-items-center"><i class="icofont-user"></i> <a href="blog-single.html">@Model.User.UserName</a></li>
                                <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <a href="blog-single.html"><time datetime="2020-01-01">@Model.CreatedAt</time></a></li>
                                <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <a href="blog-single.html"><time datetime="2020-01-01">@Model.UpdatedAt</time></a></li>
                                <li class="d-flex align-items-center"><i class="icofont-comment"></i> <a href="blog-single.html">@Model.Comments.Count Comments</a></li>
                            </ul>
                        </div>

                        <div class="entry-content">
                            <p>@Html.Raw(Model.Text)</p>
                        </div>

                        <div class="entry-footer clearfix">
                            <div class="float-left">
                                <i class="icofont-folder"></i>
                                <ul class="cats">
                                    <li><a href="#">@Model.Category.Name</a></li>
                                </ul>

                                <i class="icofont-tags"></i>
                                <ul class="tags">
                                    @foreach (var item in Model.Tags)
                                    {
                                        <li><a href="#">@item.Name</a></li>
                                    }
                                </ul>
                            </div>

                            <div class="float-right share">
                                <a href="" title="Share on Twitter"><i class="icofont-twitter"></i></a>
                                <a href="" title="Share on Facebook"><i class="icofont-facebook"></i></a>
                                <a href="" title="Share on Instagram"><i class="icofont-instagram"></i></a>
                            </div>

                        </div>

                    </article><!-- End blog entry -->

                    <div class="blog-author clearfix" data-aos="fade-up">
                        <img src="~/images/users/@Model.User.Image" class="rounded-circle float-left" alt="">
                        <h4>@Model.User.UserName</h4>
                        <div class="social-links">
                            <a href="https://twitters.com/#"><i class="icofont-twitter"></i></a>
                            <a href="https://facebook.com/#"><i class="icofont-facebook"></i></a>
                            <a href="https://instagram.com/#"><i class="icofont-instagram"></i></a>
                        </div>
                        <p>@Model.User.Biography</p>
                    </div><!-- End blog author bio -->

                    <div class="blog-comments" data-aos="fade-up">

                        <div class="reply-form">
                            <h4>Yorumunuz..</h4>
                            <p> İşaretli bölgeleri doldurunuz!. * </p>

                            @{
                                if (SignInManager.IsSignedIn(User))
                                {
                                    <form role="form" asp-controller="Comment" asp-action="Create">
                                        <div class="row">
                                            <input name="ContentId" class="form-control" value="@Model.Id" type="hidden">
                                            <input name="UserId" class="form-control" value="@Model.UserId" type="hidden">
                                            <input name="IsAnonymous" class="form-control" value="False" type="hidden">
                                            <input name="Email" class="form-control" value="@Model.User.Email" type="hidden">
                                            <input name="Name" class="form-control" value="@Model.User.UserName" type="hidden">
                                        </div>
                                        <div class="row">
                                            <div class="col form-group">
                                                <textarea name="Text" class="form-control" placeholder="Your Comment*" required maxlength="512"></textarea>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Oluştur</button>
                                    </form>
                                }

                                else
                                {
                                    <form role="form" asp-controller="Comment" asp-action="Create">
                                        <div class="row">
                                            <input name="ContentId" class="form-control" value="@Model.Id" type="hidden">
                                            <input name="IsAnonymous" class="form-control" value="True" type="hidden">
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 form-group">
                                                <input name="Name" type="text" class="form-control" placeholder="Your Name*" required maxlength="64">
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <input name="Email" type="text" class="form-control" placeholder="Your Email*" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col form-group">
                                                <textarea name="Text" class="form-control" placeholder="Your Comment*" required maxlength="512"></textarea>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Oluştur</button>
                                    </form>
                                }
                            }
                        </div><br>

                        <h4 class="comments-count">@Model.Comments.Count Yorum</h4>

                        @foreach (var item in @Model.Comments)
                        {
                            var userPic = @item.User != null ? (@item.User.Image == null ? "anonymous.jpg" : @item.User.Image) : "anonymous.jpg";

                            <div id="comment-@item.Id" class="comment clearfix">
                                <img src="~/images/users/@userPic" class="comment-img  float-left" alt="">
                                <h5><a href="#">@item.Name</a> </h5>
                                <time datetime="2020-01-01">@item.UpdatedAt</time>
                                <p>
                                    @item.Text
                                </p>

                            </div><!-- End comment #1 -->
                        }
                    </div><!-- End blog comments -->

                </div><!-- End blog entries list -->

                <div class="col-lg-4">
                    @{
                        @await Component.InvokeAsync("SideBar", new { type = Model.Type, id = Model.Id })
                    }

                </div><!-- End blog sidebar -->
            </div>
        </div>
    </section><!-- End Blog Section -->

</main><!-- End #main -->
