@model BusinessApp.CarpetWash.MvcWebUI.Models.HomeViewModel

<!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container">
        
        <div class="section-title" data-aos="fade-up">
          <h2>Müşteri <strong>Yorumları</strong></h2>
          <p>Müşterilerimizin yorumları bizim için çok değerlidir. Lütfen Sizde Yorum yapmayı unutmayın.</p>
        </div>

        <div class="row">
            @{
               @foreach (var item in Model.Comments)
               {
                 var name = item.User != null ? item.User.UserName : item.Name;
                 var userPic = @item.User != null ? (@item.User.Image == null ? "anonymous.jpg" : @item.User.Image ) : "anonymous.jpg";

                  <div class="col-lg-6" data-aos="fade-up">
                   <div class="testimonial-item">
                     <img src="~/images/users/@userPic" class="testimonial-img" alt="">
                     <h3>@name</h3>
                     <h4>Oluşturma Zamanı &amp; @item.CreatedAt</h4>
                     <p>
                       <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        @item.Text
                       <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                     </p>
                   </div>
                 </div>
               }
            }
        </div>

        @* <section class="cta-pricing" style="background-color: white !important;">
            <div class="text-center">
              <a class="cta-btn" asp-controller="Comment" asp-action="Index">Bütün Yorumlar</a>
            </div>
        </section><!-- End Testimonial Section --> *@

      </div>
    </section><!-- End Testimonials Section -->
