@using BusinessApp.CarpetWash.Entities.Concrete.Enums
<nav class="nav-menu d-none d-lg-block">
    <ul>
        <li><a asp-controller="Home" asp-action="Index">Anasayfa</a></li>
        <li>
            <a asp-controller="Contents" asp-action="Index"
               asp-route-type="@ContentType.Service">
                Hizmetler
            </a>
        </li>
        <li>
            <a asp-controller="Contents" asp-action="Index"
               asp-route-type="@ContentType.ServiceRegion">
                Hizmet Bölgelerimiz
            </a>
        </li>
        <li>
            <a asp-controller="Contents" asp-action="Index"
               asp-route-type="@ContentType.Post">
                Blog
            </a>
        </li>
        <li>
            <a asp-controller="Home" asp-action="About"
               asp-route-type="@ContentType.AboutFeature">
                Hakkımızda
            </a>
        </li>
        <li>
            <a asp-controller="Home" asp-action="Contact"
               asp-route-type="@ContentType.ContactFeature">
                İletişim
            </a>
        </li>
        @await Html.PartialAsync("~/Views/Shared/Partials/_LoginPartial.cshtml")
    </ul>
</nav><!-- .nav-menu -->